.about-me {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15%;
}

.man {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    margin-right: 10%;
}

.content {
    width: 59%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
}

.links {
    width: 50%;
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
}

.links img {
    height: 50px;
}


/* Media Queries*/
@media screen and (max-width: 1080px) {
    .man {
        width: 100%;
        margin-right: 0;
        border-right: 0px;
    }
    .content {
        width: 50%;
    }
    .about-me {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    #design {
        width: 150px;
        height: 50px;
    }

}

@media screen and (min-width: 1920px) {
    .links {
        width: 952px;
    }
    .about-me {
        width: 1902px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Animation property */
#rene:hover {
    animation: wiggle 3s linear infinite;
}
  
/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  