* {
    font-family: 'Spectral', serif;
    background-color: #FCEFDF;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
#page-container {
    position: relative;
    min-height: 80vh;
}
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    font-size: larger;
}

.title {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
}

#nav-link {
    width: 80px;
}

#cwm-title {
    text-shadow: 15px 10px 20px rgb(0, 0, 0);
}